.main--formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-contacto label {
  font-weight: bold;
  margin-bottom: 4px;
  color: #e30000;
}

.form-contacto input,
.form-contacto textarea {
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #000;
  color: #eee;
}

.form-contacto input::placeholder,
.form-contacto textarea::placeholder {
  color: #999;
}

.form-contacto button {
  background-color: #e30000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-contacto button:hover {
  background-color: #af141c;
}

.section--formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main--formulario {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.aside-contacto {
  flex: 1;
  max-width: 300px;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
  color: #ccc;
}

.aside-contacto h3 {
  margin-top: 0;
}

.aside-contacto ul {
  list-style: none;
  padding-left: 0;
}

.aside-contacto a {
  color: #e50914;
  font-weight: bold;
}
